.bar{
    display: flex;
    justify-content: space-between;
    padding-left: 115.5px;
    padding-right: 115.5px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.barr{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
}

.barrr{
    list-style: none;
}

.btn-color{
    background-color: rgb(19, 19, 240);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.First-img{
    width: 1900px;
    height: 887px;
    display: block;
}

.banner{
    position: relative;
}

.banner h1{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 50px;
    margin: 0;
}

.banner p{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.banner-btn{
    position: absolute;
    bottom: 30px;
    left: 50%;
    background-color: rgb(19, 19, 240);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;

}